
* {
  font-family: 'Roboto', sans-serif;
}
h3 {
  color: #ffffff;
  font-size: 48px;
}
p {
  font-size: 24px;
  margin: 100px 0 150px 0;
  font-family: 'Prompt', sans-serif;
}

img {
  height: 200px;
  width: 240px;
}
body  {
  background-color: black;
  background-image: url("imgs/ess-1.png");
  background-attachment:fixed;
  margin: 0px;
}

.max-container {
  max-width: 1350px;
  margin: 0 auto;
}

header {
  height: 500px;
  margin-bottom: 200px;
}
.navbar {
  left: 0;
  right: 0;
  position: fixed;
  top: 0px;
  height: 50px;
  padding: 0 15px;
  background-color:#ffffff;
}
nav {
  height: 40px;
  float: right ;
  margin: 15px 10px 0 0 ;
}


nav a {
  color: #000000;
  padding: 3rem;
  text-decoration: none;
}

nav a:hover {
  color: #D38338;
}

.home img {
  width: 50px;
  height: 50px;
}

.contenu-heander {
display: flex;
align-items: center;
justify-content: center;
margin-top: 150px;
line-height: 3rem;
text-align: center;
color: #ffffff;
}
.title {
  color: #000000;
}
.down {
  justify-content: center;
  margin-left: 5%;
}

button {
  background-color:  #D38338;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: none;
  
}
button:hover {
  opacity: 50%;
}

.container {
  height: 900px;
  background-color: #ffffff ;
  text-align: center; 
  padding-top: 50px;
  padding-left: 50px;
  
}

.icon {
  display: flex;
  justify-content: space-around;
}

.container-transparency {
  height: 800px;
  text-align: center;
}

.contenu {
  margin: 0 50px 0 80px;
  display: flex;
  flex-flow: column wrap;
}
.contenu p {
  color: #ffffff;
}
.cercle  {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color:#D38338;
}

.backgroundIcon{
  width: 120px;
  height: 75px;
  border-radius: 50%;
  background-color: #D38338;
}

footer  {
  height: 190px;
  background-color: #fff;
}